(
    datalake_setting: DatalakeSetting(
        base_url: "https://ti.extranet.mrti-center.com/api/v2",
        routes: RoutesSetting(
            authentication: "{base_url}/auth/token/",
            threat_library: "{base_url}/mrti/tag-subcategory/filtered/",
            patch_threat_library: "{base_url}/mrti/tag-subcategory/{sub_category_id}/",
        )
    )
)