(
    datalake_setting: DatalakeSetting(
        base_url: "https://datalake.cert.orangecyberdefense.com/api/v2",
        routes: RoutesSetting(
            authentication: "{base_url}/auth/token/",
            atom_values_extract: "{base_url}/mrti/threats/atom-values-extract/",
            bulk_lookup: "{base_url}/mrti/threats/bulk-lookup/",
            bulk_search: "{base_url}/mrti/bulk-search/",
            bulk_search_task: "{base_url}/mrti/bulk-search/tasks/",
            bulk_search_download: "{base_url}/mrti/bulk-search/tasks/{task_uuid}",
        )
    )
)